
@{
    ViewData["Title"] = "DisplayUser";
}
@model User

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.UserName!</h1>
    <a class="btn-danger" href="../User/Register">Add Another User</a>

</div>
